h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}

main {
  font-size: 20px;
  margin-left: 300px;
  text-align: center;
}

.sidenav {
  font-size: 20px;
  height: 100%;
  width: 300px;
  line-height: 1.2;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(170, 170, 170);
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 10px;
}

.click-zoom input[type=checkbox] {
  display: none
}

.click-zoom img {
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(1.5);
  cursor: zoom-out
}

#layer1 {
  z-index: 1;
}