<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='mystyle.css')}}">
    </head>
    <body>
        <div class="sidenav">
            <p>
                Statistic:
                <table line-height="0.8;">
                    <tr>
                        <td> User: </td>
                        <td> {{username}} </td>
                    </tr>
                    <tr>
                        <td> Submitted labels: </td>
                        <td> {{count_labels}} </td>
                    </tr>
                    <tr>
                    <td> Labeled images: </td>
                        <td> {{count_labeled_images}} </td>
                    </tr>
                    <tr>
                        <td> Images without label: </td>
                        <td> {{count_not_labeled_images}} </td>
                    </tr>
                </table>
            </p>
        
            <p>
                <a href="{{url_for('authentication.change_password')}}"> 
                    Change password 
                </a>
            </p>
            <p>
                <a href="{{url_for('authentication.logout')}}"> 
                    Logout 
                </a>
            </p>
            
            
            
        </div>
        <main>
            <h1> Label me! </h1>
            <p>
                This is a demo app. Please submit a label for the displayed 
                image. 
            </p>

            <p> 
                <img src="{{url}}" height="600" width="600"> 
            </p>
            
            <form method="post" action="{{url_for('index.output')}}">
                <label for="label"> Label the image: </label>
                <select id="label" style="font-size:20px;" name="label">
                    <option value="0"> 0 </option>
                    <option value="1"> 1 </option>
                    <option value="2"> 2 </option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4 </option>
                    <option value="5"> 5 </option>
                    <option value="6"> 6 </option>
                    <option value="7"> 7 </option>
                    <option value="8"> 8 </option>
                    <option value="9"> 9 </option>
                </select>
                <button type="submit" style="font-size:20px;"> Submit </button>
            </form>
        </main>      
   </body>
</html>

